option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

commands:
  01_check_app_file:
    command: "ls -la /var/app/current/application.py || echo 'application.py not found!'"
    ignoreErrors: true